* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper > div {
  background: blue;
  padding: 100px;
}

.wrapper > div:nth-child(odd) {
  background: purple;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

